@media screen and (max-width:1320px) {
    .header__inner {
        height: auto;
        max-width: 1295px;
        width: 100%;
        margin: auto;
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
      }

      
.center-inner__center {
    height: auto;
    max-width: 1295px;
    width: 100%;
    margin: 45px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  
  .center-inner__center:nth-child(2) {
    height: auto;
    max-width: 1295px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  
  .center-inner__center:nth-child(3) {
    height: auto;
    max-width: 1295px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:1176px) {
    
}

@media screen and (max-width:1032px) {
    .footer-under__inner {
        max-width: 1440px;
        width: 100%;
        margin: auto;
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .footer-under__inner:last-child {
        max-width: 1440px;
        width: 100%;
        border-top: 1px solid rgba(252, 67, 8, 1);
        margin: auto;
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
}

@media screen and (max-width:888px) {
    
}

@media screen and (max-width:744px) {
    
}

@media screen and (max-width:600px) {
    .footer__top h2 {
        font-family: Montserrat;
        font-size: 75px;
        font-weight: 500;
        text-align: center;
        color: rgba(252, 67, 8, 1);
      }
      
      .footer__top p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(252, 67, 8, 1);
        margin-top: 25px;
      }

      .center-card__inner span {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 1px;
        display: block;
        text-align: center;
        color: rgba(252, 67, 8, 1);
      }
      
      .center-card__inner h4 {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: -0.065em;
        text-align: center;
        color: rgba(252, 67, 8, 1);
        margin-top: 10px;
      }
      
      .center-card__inner p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 10px;
        color: rgba(252, 67, 8, 1);
      }
      .center-card__inner button {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: Hug (160px);
        height: Hug (38px);
        padding: 8px 16px 10px 16px;
        border-radius: 3px;
        border: 1px solid rgba(252, 67, 8, 1);
        gap: 10px;
        color: rgba(252, 67, 8, 1);
      }
}
@media screen and (max-width:456px) {
    .footer__top h2 {
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
        color: rgba(252, 67, 8, 1);
      }

      .footer__top p {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(252, 67, 8, 1);
        margin-top: 25px;
      }
}

@media screen and (max-width:312px) {
    
}

